root = false

# C# files
[*.cs]

# CA1515: Consider making public types internal - not necessary for tools. More of an annoyance with Avalonia code.
dotnet_diagnostic.CA1515.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1003: Use generic event handler instances
dotnet_diagnostic.CA1003.severity = none

# CA1819: Properties should not return arrays - needed for Avalonia data binding
dotnet_diagnostic.CA1819.severity = none

# CA1814: Prefer jagged arrays over multidimensional - ML data uses multidimensional arrays
dotnet_diagnostic.CA1814.severity = none
