root = false

# C# files
[*.cs]

# CA1515: Consider making public types internal - not necessary for tools. More of an annoyance with Avalonia code.
dotnet_diagnostic.CA1515.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none